
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    padding:30px;
}

h1 {
    color: white;
    font-size: 40px;
}

ul {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    bottom: 0;
}